
<div class="card mt-2 mb-2">
  <div class="card-body">
    <div class="">
      
        <input class="form-control" matInput name="searchxl" [(ngModel)]="searchData.q"
            (ngModelChange)="searchUpdated$.next(searchData.q)" type="text" placeholder="Rechercher"
        >
    </div>
  </div>
</div>
<c-row>
    <c-col xs>
      <c-card class="mb-4">
        <c-card-header>Users</c-card-header>
        <c-card-body>
          <table
            [hover]="true"
            [responsive]="true"
            [striped]="true"
            align="middle"
            cTable
            class="mb-0 border"
          >
            <thead cTableColor="light">
              <tr>
                <th class="text-center">
                  <svg cIcon name="cilPeople"></svg>
                </th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Rôle</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of dataSource; index as i">
                <td class="text-center">
                  <c-avatar
                    size="md"
                    src="assets/images/default-avatar-profile.jpg"
                    status="{{ user.status }}"
                  ></c-avatar>
                </td>
                <td>
                  <div>{{ user.nom }}</div>
                  <div class="small text-medium-emphasis text-nowrap">
                  </div>
                </td>
                <td>
                  <div>{{ user.prenom }}</div>
                  <div class="small text-medium-emphasis text-nowrap">
                  </div>
                </td>
                <td>
                  <div>{{ user.email }}</div>
                  <div class="small text-medium-emphasis text-nowrap">
                  </div>
                </td>
                <td>
                  <div>{{ user.telephone }}</div>
                  <div class="small text-medium-emphasis text-nowrap">
                  </div>
                </td>
                <td>
                  <div>{{ user.role }}</div>
                  <div class="small text-medium-emphasis text-nowrap">
                  </div>
                </td>
               <td>
                <a mat-button [routerLink]="['/user', 'profil',  user._id]" class="btn btn-info btn-sm" color="accent" >
                  <i class="fa fa-eye"></i>
                </a> 
                  <button mat-button [routerLink]="['/user', 'profil',  user._id]" class="btn btn-success btn-sm mx-2" color="accent" >
                    <i class="fa fa-edit"></i>
                  </button>
                  <button mat-button (click)="delete(user)" class="btn btn-danger btn-sm" color="accent" >
                    <i class="fa fa-trash"></i>
                  </button>
               </td> 
              </tr>
            </tbody>
          </table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  