<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form (ngSubmit)="onSubmitregister()" cForm>
              <div class ="row">
                <div class ="col text-center"> <h1>Créer un compte</h1></div>
              </div>
              <div class="row">
                <div class="col">
                  <c-input-group class="mb-3">
                    <span cInputGroupText>
                      <svg cIcon name="cilUser"></svg>
                    </span>
                    <input type="text" [(ngModel)]="user.nom" name="nom" require autoComplete="nom" cFormControl placeholder="nom" />
                  </c-input-group>
                </div>
                <div class="col">
                  <c-input-group class="mb-3">
                    <span cInputGroupText>
                      <svg cIcon name="cilUser"></svg>
                    </span>
                    <input type="text" [(ngModel)]="user.prenom" name="prenom" require autoComplete="prenom" cFormControl placeholder="prenom" />
                  </c-input-group>
                </div>
              </div>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input type="text" [(ngModel)]="user.telephone" name="telephone" require autoComplete="telephone" cFormControl placeholder="telephone" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>&#64;</span>
                <input type="email" [(ngModel)]="user.email" name="email" autoComplete="email" cFormControl placeholder="Email" />
              </c-input-group>
              <div class="full-width mb-4">
                <mat-label></mat-label>
                <div class="">
                <ng-select [items]="role" 
                  name="role"
                  bindLabel="name" 
                  bindValue="name" 
                  [(ngModel)]="selectedRole"
                  placeholder="Like ng-select?">
                </ng-select>
              </div>
              </div>
              <div class="row">
                <div class="col">
                  <c-input-group class="mb-3">
                    <span cInputGroupText>
                      <svg cIcon name="cilLockLocked"></svg>
                    </span>
                    <input [(ngModel)]="user.password" name="password" autoComplete="new-password" cFormControl placeholder="Password" type="password" />
                  </c-input-group>
                </div>
                <div class="col">
                  <c-input-group class="mb-4">
                    <span cInputGroupText>
                      <svg cIcon name="cilLockLocked"></svg>
                    </span>
                    <input [(ngModel)]="repassword" name="repassword" autoComplete="new-password" cFormControl placeholder="Repeat password" type="password" />
                  </c-input-group>
                </div>
              </div>
              <div class="d-grid">
                <button class="btn btn-success" color="success">S'inscrire</button>
              </div><br>
              <p><a [routerLink]="['/login']" >Vous avez déjà un compte ?</a></p>
              <div class="alert alert-danger mt-2" *ngIf="isError">
                {{messageError}}
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
