<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form (ngSubmit)="onSubmitregister()" cForm>
              <div class ="row">
                <div class ="col text-center"> <h1>Créer un compte</h1></div>
              </div>
              <div class="row">
                <div class="col">
                  <c-input-group class="mb-3">
                    <span cInputGroupText>
                      <i class="fa fa-user"></i>
                    </span>
                    <input type="text" [(ngModel)]="user.nom" name="nom" require autoComplete="nom" cFormControl placeholder="Nom" />
                  </c-input-group>
                </div>
                <div class="col">
                  <c-input-group class="mb-3">
                    <span cInputGroupText>
                      <i class="fa fa-user"></i>
                    </span>
                    <input type="text" [(ngModel)]="user.prenom" name="prenom" require autoComplete="prenom" cFormControl placeholder="Prenom" />
                  </c-input-group>
                </div>
              </div>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <i class="fa fa-phone"></i>
                </span>
                <input type="text" [(ngModel)]="user.telephone" name="telephone" require autoComplete="telephone" cFormControl placeholder="Téléphone" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <i class="fa fa-envelope"></i>
                </span>
                <input type="email" [(ngModel)]="user.email" name="email" autoComplete="Email" cFormControl placeholder="Email" />
              </c-input-group>
              <div class="full-width mb-3">
                <mat-label></mat-label>
                <div class='default'>
                  <ng-select [items]="role" 
                    name="role"
                    bindLabel="name" 
                    bindValue="name" 
                    [(ngModel)]="selectedRole"
                    placeholder="Rôle">
                  </ng-select>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <c-input-group class="mb-3">
                    <span cInputGroupText>
                      <i class="fa fa-lock"></i>
                    </span>
                    <input [(ngModel)]="user.password" name="password" autoComplete="new-password" cFormControl placeholder="Mot de passe" type="password" />
                  </c-input-group>
                </div>
                <div class="col">
                  <c-input-group class="mb-4">
                    <span cInputGroupText>
                      <i class="fa fa-lock"></i>
                    </span>
                    <input [(ngModel)]="repassword" name="repassword" autoComplete="new-password" cFormControl placeholder="Confirmation du mot de passe" type="password" />
                  </c-input-group>
                </div>
              </div>
              <div class="d-grid">
                <button [disabled]="isLoading" class="btn btn-success" color="success">
                  <span *ngIf="!isLoading">S'inscrire</span>
                  <span *ngIf="isLoading"><img src="assets/images/loading.gif" class="loading" alt="loading" /></span>
                </button>
              </div><br>
              <p>
                <button [routerLink]="['/login']" cButton class="px-0" color="link">
                  Vous avez déjà un compte ?
                </button>
              </p>
              <div class="alert alert-danger mt-2" *ngIf="isError">
                {{messageError}}
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
