<h2 mat-dialog-title>Prendre rendez vous </h2>
<form (ngSubmit)="onSubmitSave()" cForm>
  <mat-dialog-content>
  <div class="full-width mb-4">
    <mat-label>Employé</mat-label>
    <div class="">
      <ng-select  
        name="employerId"
        [items]="dataSource"
        bindLabel="nom" 
        bindValue="_id" 
        [loading]="isLoading"
        [(ngModel)]="selectedUser"
        class="full-width">
      </ng-select>
    </div>
  </div>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Date</mat-label>
    <input matInput [(ngModel)]="rendezVous.date" name="date" [matDatepicker]="picker">
    <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Heure</mat-label>
    <input type="time" [(ngModel)]="rendezVous.heure" name="heure" matInput>
    <!-- <input [ngxTimepicker]="picker"> -->
    <!-- <ngx-material-timepicker #picker></ngx-material-timepicker> -->
  </mat-form-field>


  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Note</mat-label>
    <textarea matInput [(ngModel)]="rendezVous.note" name="note" placeholder=""></textarea>
  </mat-form-field>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn btn-danger mx-1" (click)="onNoClick()">Annuler</button>
  <button class="btn btn-primary mx-1">Ok</button>
</mat-dialog-actions>
</form>