table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.buttonAdd{
    margin-left: 836px;
    margin-bottom: 7px;
}
.cards {
    display: flex;
    justify-content: space-between;
 }
 .back {
    width: 50px;
 }
 .service-title {
    height: 30px;
    font-size: 16px !important;
}
.description-container {
    max-height: 190px;
    overflow: hidden;
    position: relative;
}

.description {
    margin: 0;
}
.ellipsis {
    position: absolute;
    bottom: 0;
    right: 0;
    background: linear-gradient(to right, transparent, white 50%, white);
}
.loading {
    height: 30px !important;
}