table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}
.progress-loader{
    position: relative;
    margin-left: 400px;
    margin-top: 200px;
    margin-bottom: 200px;
}
