<p>Entrez la push notification</p>
<h5 mat-dialog-title><strong>{{data}}</strong></h5>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="nom" placeholder="Titre">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput [(ngModel)]="description" placeholder="Titre"></textarea>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="delai" placeholder="Titre">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="nom" placeholder="Titre">
  </mat-form-field>
  
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button (click)="onSubmiPushNotification()" color="warn" mat-icon-button  aria-label="Example icon-button with a heart icon">
      Continuer
   </button>
</div>
