mat-dialog-content {
    overflow: auto!important;
    max-height: 400px;
}
.full-width {
    width: 100%;
}
mat-dialog-actions {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}