<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form (ngSubmit)="onSubmitregister()" cForm>
              <h1>Tapez votre adresse email</h1>
              <p class="text-medium-emphasis"></p>
              <c-input-group class="mb-3">
                <span cInputGroupText>&#64;</span>
                <input autoComplete="email" [(ngModel)]="user.email" name="email"  cFormControl placeholder="Email" />
              </c-input-group>
              <div class="d-grid">
                <button class="btn btn-success" color="success">envoyer</button>
              </div>
              <div class="alert {{alertType}} mt-2" *ngIf="isError">
                {{messageError}}
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>