<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form (ngSubmit)="onSubmitregister()" cForm>
              <h1>Tapez votre Address email</h1>
              <p class="text-medium-emphasis"></p>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <i class="fa fa-envelope"></i>
                </span>
                <input autoComplete="email" [(ngModel)]="user.email" name="email"  cFormControl placeholder="Email" />
              </c-input-group>
              <div class="d-grid">
                <button class="btn btn-success" color="success">
                  <span *ngIf="!isLoading">Envoyer</span>
                  <span *ngIf="isLoading"><img src="assets/images/loading.gif" class="loading" alt="loading" /></span>
                </button>
              </div>
              <div class="left mt-3" colspan="3" >
                <button [routerLink]="['/login']" [disabled]="isLoading" cButton class="px-0" color="link">
                  Retour a la page de connexion
                </button>
              </div>
              <div class="alert {{alertType}} mt-2" *ngIf="isError">
                {{messageError}}
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>