<div class="card mb-4">
  <div class="card-body">
   <div class="row">
      <div class="col-md-8 col-lg-9">
        <div class="left" colspan="3" [hidden]="isLoading">
          <a (click)="back()" class="">
            <i class="fa fa-arrow-left back" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>    

  <h3>{{service.nom}}</h3>
  <br>
  {{service.description}}



  <div>
    <div class="row">
     <div class="col-lg-9">
       
     </div>
     <div class="col-lg-3">
     <!-- <button type="button" (click)="addnewsrdv()" class="btn btn-primary bi bi-arrow-return-left">Prendre rendez-vous</button><br/> -->
     </div>
     </div>
 </div>