<div class="card mt-2 mb-2">
  <div class="card-body">
    <div class="left" colspan="3" [hidden]="isLoading">
      <a (click)="back()" class="">
        <i class="fa fa-arrow-left back" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
<div class="card mt-2 mb-2">
  <div class="card-body">
    <div class="container">
      <div class="row">
          <div class="col-sm-5">
            <div class="" style="width: 18rem;">
              <img class="card-img-top" src="assets/images/rendez-vous.png" alt="Card image cap">
            </div>
          </div>
          <div class="col-sm-7" *ngIf="!isLoading">
            <div class="mt-5">
              <h5 class="card-title">Nom: {{rendezVous?.client?.nom }} 
                  <!--p>Prenom :{{user.prenom}}</p--></h5>
                <p class="card-text">Service: {{rendezVous?.service?.nom}}</p>
                <p class="card-text">Date {{rendezVous?.date | date:'dd/MM/yyyy' }}</p>
                <p class="card-text">Heure: {{rendezVous?.heure}}</p>

                <button *ngIf="userData.id != rendezVous.client._id" class="btn btn-danger mt-4">Refusé</button>
                <button *ngIf="userData.id != rendezVous.client._id" class="btn btn-success mt-4 ml-3">Accepter</button>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>

