<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form (ngSubmit)="onSubmit()" cForm>
              <h1>Changement mot de passe</h1>
              <p class="text-medium-emphasis"></p>
             
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <i class="fa fa-lock"></i>
                </span>
                <input autoComplete="new-password" [(ngModel)]="user.password" name="password" cFormControl placeholder="Nouveau mot de passe" type="password" />
              </c-input-group>
              <c-input-group class="mb-4">
                <span cInputGroupText>
                  <i class="fa fa-lock"></i>
                </span>
                <input autoComplete="new-password" [(ngModel)]="repassword" name="repassword" cFormControl placeholder="Confirmation du nouveau mot de passe" type="password" />
              </c-input-group>
              <div class="d-grid">
                <button [disabled]="isLoading" class="btn btn-success" color="success">
                  Reinitialiser mot de passe
                </button>
              </div>

              <div class="alert alert-danger mt-2" *ngIf="isError">
                {{messageError}}
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
