.loading {
    height: 30px !important;
}
.h-fix {
    height: 560px!important;
    display: contents;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-control {
    color: #111 !important;
}