table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.buttonAdd{
    margin-left: 836px;
    margin-bottom: 7px;
}
#owl-demo .item {
    margin: 3px;
}

#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}
.active-front {
    font-weight: 600;
}
.service-title {
    height: 120px;
    font-size: 20px !important;
}
.description-container {
    max-height: 200px;
    overflow: hidden;
    position: relative;
}

.description {
    margin: 0;
}

.ellipsis {
    position: absolute;
    bottom: 0;
    right: 0;
    background: linear-gradient(to right, transparent, white 50%, white);
}
.btn-connexion {
    background: transparent !important;
    color: #007bff !important;
    border-color: #007bff !important;
}
.btn-connexion:hover {
    background: #007bff !important;
    color: #fff !important;
}