<!-- loader  -->
<!-- <div class="loader_bg">
    <div class="loader">
      <img src="assets/images/client/loading.gif" alt="" />
    </div>
</div> -->

<div class="wrapper">
  <!-- end loader -->
  <div class="sidebar">
      <!-- Sidebar  -->
      <nav id="sidebarclient">

          <div id="dismiss">
              <i class="fa fa-arrow-left"></i>
          </div>

          <ul class="list-unstyled components">

              <li>
                  <a [routerLink]="['/client/home']">Home</a>
              </li>
              <li>
                  <a href="about.html">About</a>
              </li>
              <li class="active">
                  <a>Service</a>
              </li>
              <li>
                  <a href="pricing.html">Pricing</a>
              </li>

              <li>
                  <a href="barbers.html">Our Barbers</a>

              </li>

              <li>
                  <a href="contact.html">Contact Us</a>
              </li>
          </ul>

      </nav>
  </div>

  <div id="content">
    <!-- header -->
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="full">
                        <a class="logo" href="index.html">
                          <img src="assets/images/client/logo.png" alt="#" />
                        </a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="full">
                        <div class="right_header_info">
                            <ul>
                                <li class="dinone">
                                    <img style="margin-right: 15px; width: 25px;" class="mt-2" src="assets/images/client/search_icon.png" alt="#">
                                </li>
                                <li class="btn btn-link" *ngIf="userData && userData.role">
                                    <a class="button text-primary" [routerLink]="['/client/home']">
                                        Acceuil
                                    </a>
                                </li>
                                <li class="btn btn-link" *ngIf="userData && userData.role">
                                    <a class="button text-primary" [routerLink]="['/client/services']">
                                        Services
                                    </a>
                                </li>
                                <li class="btn btn-link" *ngIf="userData && userData.role">
                                    <a class="button text-primary" [routerLink]="['/liste-rendez-vous/listing']">
                                        Dashboard
                                    </a>
                                </li>
                                <li class="btn btn-primary" *ngIf="userData && userData.role">
                                    <a (click)="logout()" >
                                        Se déconnecter
                                    </a>
                                </li>
                                <li class="btn btn-primary" *ngIf="!userData.role"> 
                                    <a class="button" [routerLink]="['/login']">
                                        Connexion
                                    </a>
                                </li>
                                <li class="btn btn-primary" *ngIf="!userData.role">
                                    <a class="button text-white" [routerLink]="['/register']">
                                        Créer un compte
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->

  <div id="service" class="service">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ourheading">
                    <h2>Les<strong class="white_ll"> services</strong></h2>
                    <span> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis n</span>
                </div>
            </div>
        </div>

        <div id="myCarousel" class="carousel- slide-" data-ride="carousel">
            <div class="carousel-inner-">
                <div class="carousel-item-">

                    <div class="container">
                        <div class="carousel-caption-">
                            <div class="row">

                                <div *ngFor="let item of dataSource" class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                                    <div class="service_box">
                                        <figure><img src="assets/images/client/ser1.png"></figure>
                                        <h3>{{item.nom}}</h3>
                                        <p>{{item.description}}</p>
                                        <h5><b>{{item.prix}}</b></h5>
                                        <a [routerLink]="['/client/service','details',item._id]" class="btn btn-success">
                                            Détail
                                        </a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                        <mat-paginator 
                            [length]="listing.total"
                            [pageSize]="listing.limit"
                            [pageSizeOptions]="listing.pageSizeOptions"
                            aria-label="Select page"
                            (page)="onPageChange($event)"
                            class="mb-3 mt-3"
                        >
                        </mat-paginator>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- footer -->
<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer_logo">
                        <a href="index.html"><img src="assets/images/client/logo1.png" alt="logo" /></a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="address">
                        <h3>address</h3>
                        <p>
                            Address: 73 Canal Street, New York, NY
                            <br> Tel: +1 123 456 789
                            <br> Fax: +1 123 456 789
                            <br> Email: {{'support@demo.com'}}</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <ul class="lik">

                        <li> <img src="assets/images/client/fb.png" alt="#" /></li>
                        <li> <img src="assets/images/client/tw.png" alt="#" /></li>
                        <li> <img src="assets/images/client/you.png" alt="#" /></li>

                    </ul>

                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <p>© 2019 All Rights Reserved. <a href="https://html.design/"> Free Html Templates</a></p>
            </div>
        </div>
    </div>

</footer>
<!-- end footer -->

</div>

<div class="overlay"></div>