<div>
  <div class="container">
    <div class="row">
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/default-avatar-profile.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{user.nom}}{{user.prenom}}</h5>
              <p class="card-text">{{user.role}}</p>
              <p class="card-text">{{user.email}}</p>
              <a href="#" class="btn btn-primary">Modifier le profil</a>
            </div>
          </div>
        </div>
      <div class="col-sm">
        
       
      </div>
      
    </div>
  </div>
</div>

