<div class="card mt-2 mb-2">
  <div class="card-body">
    <div class="left" colspan="3" [hidden]="isLoading">
      <a (click)="back()" class="">
        <i class="fa fa-arrow-left back" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
<div class="card mt-2 mb-2">
  <div class="card-body">
    <div class="container">
      <div class="row">
          <div class="col-sm-5">
            <div class="" style="width: 18rem;">
              <img class="card-img-top" src="assets/images/default-avatar-profile.jpg" alt="Card image cap">
            </div>
          </div>
          <div class="col-sm-7">
            <div class="mt-5">
              <h5 class="card-title">{{user.nom}} {{user.prenom}}
                  <!--p>Prenom :{{user.prenom}}</p--></h5>
                <p class="card-text">Rôle {{user.role}}</p>
                <p class="card-text">Email: {{user.email}}</p>
                <p class="card-text">Téléphone: {{user.telephone}}</p>
                <a href="" class="btn btn-primary mt-4">Modifier le profil</a>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>

