table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.buttonAdd{
    margin-left: 836px;
    margin-bottom: 7px;
}
#owl-demo .item {
    margin: 3px;
}

#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}
.active-front {
    font-weight: 600;
}
.btn-connexion {
    background: transparent !important;
    color: #007bff !important;
    border-color: #007bff !important;
}
.btn-connexion:hover {
    background: #007bff !important;
    color: #fff !important;
}