
<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Users</c-card-header>
      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead cTableColor="light">
            <tr>
              <th class="text-center">
                <svg cIcon name="cilPeople"></svg>
              </th>
              <th>Nom</th>
              <th>email</th>
              <th>Téléphone</th>
              <th>role</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of dataSource; index as i">
              <td class="text-center">
                <c-avatar
                  size="md"
                  src="assets/images/default-avatar-profile.jpg"
                  status="{{ user.status }}"
                ></c-avatar>
              </td>
              <td>
                <div>{{ user.name }}</div>
                <div class="small text-medium-emphasis text-nowrap">
                  <span>
                     | Registered: 
                  </span>
                </div>
              </td>
              
              <td>
                <div class="d-flex justify-content-between">
                  <div class="float-start">
                    <strong>{{ user.email }}</strong>
                  </div>
                  <div class="float-end ms-1 text-nowrap">
                    <small class="text-medium-emphasis">
                     
                    </small>
                  </div>
                </div>
                <c-progress thin>
                  <c-progress-bar
                    [value]="user.role"
                    color="{{ user.color }}"
                  ></c-progress-bar>
                </c-progress>
              </td>
              <td class="text-center">
                <svg cIcon name="cibCc{{ user.payment }}" size="xl"></svg>
              </td>
              <td>
                <div class="small text-medium-emphasis"></div>
                <div class="fw-semibold text-nowrap">{{ user.role }}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
